  - name: Install Docker on Debian
   hosts: all
   become: true
   tasks:
    - name: Update APT package index
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Add Docker's official GPG key
      apt_key:
        url: https://download.docker.com/linux/debian/gpg
        state: present

    - name: Add Docker APT repository for Debian
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
        state: present
        filename: docker

    - name: Update APT package index again
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: latest

    - name: Ensure Docker service is running
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Add user to docker group
      user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes

    - name: Test Docker installation
      command: docker --version
      register: docker_version
      changed_when: false

    - debug:
        msg: "Docker installed successfully: {{ docker_version.stdout }}"

    - name: Pull Flask image from DockerHub
      docker_image:
        name: siva2626/flask1:v1
        source: pull

    - name: Run Flask container
      docker_container:
        name: flaskapp
        image: siva2626/flask1:v1
        state: started
        restart_policy: always
        ports:
          - "88:5000"











