- name: Install Docker on Ubuntu
  hosts: all
  become: true
  tasks:
    - name: Update APT package index
      apt:
        update_cache: yes
    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present
    - name: Add Docker's official GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
    - name: Add Docker APT repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable
        state: present
    - name: Update APT package index again
      apt:
        update_cache: yes
    - name: Install Docker
      apt:
        name: docker-ce
        state: latest
    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes
    - name: Test Docker installation
      command: docker --version
      register: docker_version
    - debug:
        msg: "Docker installed successfully: {{ docker_version.stdout }}"
     
    - name: pulling nginx image from gar
      docker_image:
        name: siva2626/flask1:v1
        source: pull

    - name: running nginx container
      docker_container:
        name: flaskapp
        image: siva2626/flask1:v1
        state: started
        ports:
          - "88:5000"
